<!-- Sign in Start -->
<section class="sign-in-page">
    <div class="container p-0">
        <div class="row no-gutters height-self-center">
            <div class="col-sm-12 align-self-center page-content rounded">
                <div class="row m-0">
                    <div class="col-sm-12 sign-in-page-data">
                        <div class="sign-in-from bg-dark rounded">
                            <h3 class="mb-0 text-center text-white">Sign in</h3>
                            <p class="text-center text-white">Enter your email address and password to access admin
                                panel.</p>
                            {{#if loginError}}
                            <p class="error-msg">{{loginError}}</p>
                            {{/if}}

                            {{#if success}}
                            <p class="success-msg">{{success}}</p>
                            {{/if}}
                            <form action="/auth/login" method="POST" class="mt-4 form-text">
                                <div class="form-group">
                                    <label for="email">Email address</label>
                                    <input type="email" class="form-control mb-0" id="email" placeholder="Enter email"
                                        name="email">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <a href="#" class="float-right text-white">Forgot password?</a>
                                    <input type="password" class="form-control mb-0" id="password"
                                        placeholder="Password" name="password">
                                </div>

                                <div class="sign-info text-center">
                                    <button type="submit" class="btn btn-white d-block w-100 mb-2">Sign in</button>
                                    <span class="text-white white-color d-inline-block line-height-2">Don't have an
                                        account? <a href="/auth/register" class="text-white">Sign up</a></span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Sign in END -->