<header id="header" class="fixed-top d-flex align-items-center ">
  <div class="container ">
    <div class="row justify-content-center">
      <div class="col-lg-10 d-flex align-items-center justify-content-between">
        <h1 class="logo"><a href="/">Texnikum</a></h1>
        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" href="/">Asosiy</a></li>
            <li class="dropdown"><a href="#"><span> Qo'shimcha</span> <i class="bi bi-chevron-down"></i></a>
              <ul>
                <li><a href="/sohalarimiz">Yo'nalishlar</a></li>
                <li><a href="/foto-galery">Galeriya</a></li>
                <li><a href="/biz-haqimizda">Biz haqimizda</a></li>
                <li><a href="/axborot-xizmati">Kun yangiliklari</a></li>
               
              </ul>
            </li>
            <li><a class="nav-link scrollto" href="/rahbariyat">Rahbariyat</a></li>
            <li class="dropdown"><a href="#"><span>Ta'lim katalogi</span> <i class="bi bi-chevron-down"></i></a>
              <ul>
                <li><a href="#">1-kurslar</a></li>
                <li><a href="#">2-kurslar</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="#"><span>Hujjatlar va farmonlar</span> <i class="bi bi-chevron-down"></i></a>
              <ul>
                <li><a href="https://samdchti.uz/hujjatlar/prezident-farmon-va-qarorlari" target="_blank">Prezident
                    farmon va qarorlari</a></li>
                <li><a href="https://samdchti.uz/hujjatlar/hukumat-qaror-va-dasturlar" target="_blank">Hukumat qaror va
                    dasturlar</a></li>
              </ul>
            </li>
            <li><a class="nav-link scrollto" href="/contact">Contact</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
      </div>
    </div>
  </div>
</header>