<main class="main-footer" >
    <div class="container mt-3">
     <div class="row justify-content-center">
       <div class="col-lg-11">
        <p>NARPAY XIZMAT KO'RSATISH TEXNIKUMI &copy; <a href="#!">By Dev</a></p>
       </div>
     </div>
    </div>
  </main><!-- End Footer -->
