<!-- Sidebar  -->
<div class="iq-sidebar">
    <div class="iq-sidebar-logo d-flex justify-content-between">
        <a href="/" class="header-logo">
            <img src="" class="img-fluid rounded-normal" alt="">
            <div class="logo-title">
                <span class="text-primary text-uppercase">Texnikum</span>
            </div>
        </a>
        <div class="iq-menu-bt-sidebar">
            <div class="iq-menu-bt align-self-center">
                <div class="wrapper-menu">
                    <div class="main-circle"><i class="las la-bars"></i></div>
                </div>
            </div>
        </div>
    </div>

    <div id="sidebar-scrollbar">
        <nav class="iq-sidebar-menu">
            <ul id="iq-sidebar-toggle" class="iq-menu">
                <li class="active active-menu">
                    <a href="#dashboard" class="iq-waves-effect" data-toggle="collapse" aria-expanded="true"><span
                            class="ripple rippleEffect"></span><i
                            class="las la-home iq-arrow-left"></i><span>Bosh sahiha</span><i
                            class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul id="dashboard" class="iq-submenu collapse show" data-parent="#iq-sidebar-toggle">
                        <li><a href="/admin/slider"><i class="ri-function-line"></i>slider</a></li>
                        <li><a href="/admin/briend"><i class="ri-function-line"></i>Brend</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#pages" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i
                            class="las la-file-alt iq-arrow-left"></i><span>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Sahifalar</font>
                            </font>
                        </span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul id="pages" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                        <li><a href="/admin/axborot-xizmati"><i class="ri-function-line"></i>Axborot xizmati</a></li>
                        <li><a href="#!"><i class="ri-function-line"></i>Hujjat topshirish</a></li>
                          <li><a href="#!"><i class="ri-function-line"></i>Ta'lim katalogi</a></li>
                          <li><a href="/admin/directions"><i class="ri-function-line"></i>Yo'nalish qo'shish</a></li>
 
                    </ul>
                </li>
                <li><a href="#!"><i class="ri-function-line"></i>Xabarlar</a></li>
            </ul>
        </nav>

    </div>
</div>