<main id="main" class="pt-5">
    <section id="icon-boxes" class="icon-boxes">
      <div class="container-fluid">

        <div class="row">
          <div class="d-none col-md-6 col-sm-6 col-lg-4 mt-lg-4 col-xl-2 d-md-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title"><a href="">1-yo'nalish</a></h4>
              <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe aut accusamus amet. Quisquam, maiores ipsum?</p>
            </div>
          </div>

          <div class="d-none col-md-6 col-sm-6 col-lg-4 mt-lg-4 col-xl-2 d-md-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">2-yo'nalish</a></h4>
              <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, nihil praesentium! Corrupti aperiam totam asperiores.</p>
            </div>
          </div>

          <div class="d-none col-md-6 col-sm-6 col-lg-4 mt-lg-4 col-xl-2 d-md-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="">3-yo'nalish</a></h4>
              <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus nobis nihil optio corrupti. Soluta, temporibus.</p>
            </div>
          </div>

          <div class="d-none col-md-6 col-sm-6 col-lg-4 mt-lg-4 col-xl-2 d-md-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-layer"></i></div>
              <h4 class="title"><a href="">4-yo'nalish</a></h4>
              <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia eum voluptatem quod, velit id accusantium.</p>
            </div>
          </div>
          <div class="d-none col-md-6 col-sm-6 col-lg-4 mt-lg-4 col-xl-2 d-md-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-layer"></i></div>
              <h4 class="title"><a href="">4-yo'nalish</a></h4>
              <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia eum voluptatem quod, velit id accusantium.</p>
            </div>
          </div>
          <div class="d-none col-md-6 col-sm-6 col-lg-4 mt-lg-4 col-xl-2 d-md-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-layer"></i></div>
              <h4 class="title"><a href="">4-yo'nalish</a></h4>
              <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia eum voluptatem quod, velit id accusantium.</p>
            </div>
          </div>
        
         

        </div>

      </div>
    </section><!-- End Icon Boxes Section -->
      <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Yo'nalishlar</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <i class="bi bi-card-checklist"></i>
              <h4><a href="#">Lorem Ipsum</a></h4>
              <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <i class="bi bi-bar-chart"></i>
              <h4><a href="#">Dolor Sitema</a></h4>
              <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <i class="bi bi-binoculars"></i>
              <h4><a href="#">Sed ut perspiciatis</a></h4>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="400">
            <div class="icon-box">
              <i class="bi bi-brightness-high"></i>
              <h4><a href="#">Nemo Enim</a></h4>
              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <i class="bi bi-calendar4-week"></i>
              <h4><a href="#">Magni Dolore</a></h4>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="600">
            <div class="icon-box">
              <i class="bi bi-briefcase"></i>
              <h4><a href="#">Eiusmod Tempor</a></h4>
              <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

</main>